doctype html
html(lang="en")
	head
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="http://www.uss.cl/wp-content/themes/uss/css/main.css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Condensed:300,400,700")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		
		script MAIN_TEMPLATE_URL = ''
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		script(src="http://www.uss.cl/wp-content/themes/uss/js/app.min.js")
		script(src='bower/ace-builds/src-min/ace.js')
		script(src='js/app.js')
		
		title USS
	
	body
		div.limit
			h3 USS templates
			.right
				label(for="type")
					b Tipo
				select#type(name="type")
					option(value="career-program", data-example="malla.html") Mallas
					option(value="content", data-example="accordion.html") Acordión
					option(value="content", data-example="beca-table.html") Tabla beca

				.button.load-example(data-tooltip="Cargar ejemplo")
					i.fa.fa-clipboard
				
				.button
					i.fa.fa-question-circle

			form(action='/compile',method='POST')
				div#editor
				div.sep
				button.button.button-primary(type="submit")
					span Convertir 
					i.fa.fa-cog
			div.sep
			div.result-preview
			textarea.result(name="", cols="30", rows="10")
