doctype html
html(lang="en")
	head
		link(rel="stylesheet", href="css/main.css")
		script(src='bower/ace-builds/src-min/ace.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(src='js/app.js')
		title USS
	body
		h1 USS PLS
		p=test
		form(action='/compile',method='POST')
			div#editor
			input(type="submit", value="Enviar")
		
		h1 Resultado
		textarea.result(name="", cols="30", rows="10")