#editor { 
	width: 100%;
	height: 500px;
	border: 1px solid #EEE;
}

textarea {
	width: 100%;
	border: 1px solid #EEE;
}
body{
	background: white !important;
}
h3.title{
	padding-top: 30px;
}
body {
	padding-bottom: 50px;
}